.footer-wrapper {
  @include clearfix;
  color: #A6A8A9;
  clear: both;
  background: white;
  width: 100%;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    position: fixed;
    width: 350px;
    bottom: 0px;
  }
}
footer.wrap {
  padding: 1.5em 2em 1em;
  font-size: 95%;
  font-family: $heading-font-family;
  p { margin: 0; }
  a { color: #A6A8A9; }
}