---
layout: default
---

<div class="work-full-node">
	<div class="above-content">
		<div class="flexslider">
		  <ul class="slides">
		  	{% for item in page.images %}
		    <li>
		      <img src="{{ item.image_path }}" />
		    </li>
		    {% endfor %}
		  </ul>
		</div>
	</div>

	<div class="content-wrapper">
		<div class="title-line">
		    <h2 class="product-title">{{ page.title }}</h2>
		    <h4 class="product-location">{{ page.location }}</h4>
		</div>
			<div class="description"><p>{{ page.description }}</p></div>
			<div class="service-container">
				<h5>Services Performed</h5>
				<ul class="services">
					{% for item in page.services_performed %}
						<li class="service">{{ item.name }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>

	<div class="content-footer">
		<h2>Have any questions about our Services or Work?</h2>
		<h3><a href="/contact">Contact Us <img src="/assets/images/arrow.svg" /></a></h3>
	</div>
</div>

